/ischoolJHWishBase/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/ischoolJHWishBase/obj/Debug/ischoolJHWishBase.CheckExcessCreditsForm.resources
/ischoolJHWishBase/obj/Debug/ischoolJHWishBase.ExportExcessCreditsBaseData.resources
/ischoolJHWishBase/obj/Debug/ischoolJHWishBase.Properties.Resources.resources
/ischoolJHWishBase/obj/Debug/ischoolJHWishBase.WishJoinForm.resources
/ischoolJHWishBase/obj/Debug/ischoolJHWishBase.csproj.FileListAbsolute.txt
/ischoolJHWishBase/obj/Debug/ischoolJHWishBase.csproj.GenerateResource.Cache
/ischoolJHWishBase/obj/Debug/ischoolJHWishBase.csprojResolveAssemblyReference.cache
/ischoolJHWishBase/obj/Debug/ischoolJHWishBase.dll
/ischoolJHWishBase/obj/Debug/ischoolJHWishBase.pdb
/ischoolJHWishBase/bin/Debug/ischoolJHWishBase.dll
/ischoolJHWishBase/bin/Debug/ischoolJHWishBase.pdb
/ischoolJHWishBase/obj/Debug/DesignTimeResolveAssemblyReferences.cache
/ischoolJHWishBase/obj/Debug/TempPE/Properties.Resources.Designer.cs.dll
/ischoolJHWishBase/obj/Debug/ischoolJHWishBase.Calc.CalcMainForm.resources
